*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header{
    padding: 16px 0;
    background-color: brown;
    color: white;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a{
    color: white;
    text-decoration: none;
}

.container{
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

section img{
    margin-right: 32px;
}

.social-links img{
    height: 24px;
}

.social-links li{
    display: block;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

#contact .container{
    display: block;
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 120px;
}

form button{
    background-color: rgb(190, 71, 71);
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: rgb(243, 57, 57);
}

input:focus, textarea:focus{
    outline-color: rgb(190, 71, 71);
}

footer{
    background-color: brown;
    color: white;
    padding: 16px 0;
}

.lista-prudutos li{
    list-style: none;
    max-width: 30%;
}

.lista-prudutos li h3{
    margin: 16px 0;
}

.lista-prudutos li img{
    height: 200px;
    display: inline;
}