*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.container{
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header{
    background-color: brown;
    padding: 16px 0;
    color: white;
}

header nav li{
    display: inline;
    margin-left: 16px;
    color: white;
    /* font-size: 24px; */
}

header nav li a{
    color: white;
    text-decoration: none;
}

header .container,
section .about{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section .about{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

.store-front{
    margin-right: 32px;
}

.social-links img{
    height: 24px;
}

/* #contact .container{
    display: block;
} */

.contact-methods{
    display: flex;
}
